---
export interface Props {
	name: string;
    link: string;
    description: string;
}

const { name, link, description } = Astro.props;
const solutionImage = `../Solutions/${name}.webp`
const solutionImageAlt = `${name}`
---

<a href={link} class="flex hover:scale-105 duration-500" target="_blank">
    <div class="bg-[#F9F9F9] dark:bg-[#0A0A0A] border-2 border-[#C6C6C6] dark:border-[#353535] shadow-xl px-5 py-2 rounded-lg duration-500 w-56 md:w-64">
        <img class="mt-2 rounded-xl" src={solutionImage} alt={solutionImageAlt}>
        
        <h1 class="mt-2 text-xl font-bold">
            {name}
        </h1>
        
        <p class="mt-2 mb-2 text-md">
            {description}
        </p>
    </div>
</a>