---
export interface Props {
	name: string;
    link: string;
    description: string;
}

const { name, link, description } = Astro.props;
const solutionImage = `../Solutions/${name}.webp`
const solutionImageAlt = `${name}`
---
<a href={link} class="flex" target="_blank">
    <div class="hover:bg-white/10 duration-500 w-56 md:w-64 flex flex-col items-center text-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 rounded-lg">
        <div>
            <img alt={solutionImageAlt} id="avatar" class="duration-500 rounded-xl" src={solutionImage}>
        </div>
        
        <h1 class="text-xl font-bold">
            {name}
        </h1>
        
        <p class="mt-2 text-md">
            {description}
        </p>
    </div>
</a>