---
export interface Props {
	name: string;
    link: string;
    description: string;
}

const { name, link, description } = Astro.props;
const solutionImage = `../Solutions/${name}.webp`
const solutionImageAlt = `${name}`
---

<a href={link} class="flex" target="_blank">
    <div class="dark:bg-[#111] border-2 bg-[#F9F9F9] border-[#C6C6C6] dark:border-[#353535] shadow-xl px-5 py-2 rounded-3xl duration-500 w-56 md:w-64 ">
        <div class="top-4 right-4">
            <img alt={solutionImageAlt} id="avatar" class="duration-500 rounded-xl" src={solutionImage}>
        </div>
        
        <h1 class="text-xl font-bold">
            {name}
        </h1>
        
        <p class="mt-2 text-md">
            {description}
        </p>
    </div>
</a>