---
export interface Props {
	name: string;
    link: string;
    description: string;
}

const { name, link, description } = Astro.props;
const solutionImage = `../Solutions/${name}.png`
const solutionImageAlt = `${name}`
---

<a href={link}>
    <div class="hover:bg-white/10 duration-500 w-56 md:w-64 flex flex-col items-center text-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 rounded-lg">
        <div class="relative top-0 left-0">
            <img alt={solutionImageAlt} id="avatar" height="88px" width="88px" class="relative top-0 left-0 rounded-full duration-500" src={solutionImage}>
        </div>

        <h1 class="text-xl font-bold">
            {name}
        </h1>

        <p class="mt-2 text-md">
            {description}
        </p>
    </div>
</a>