---
export interface Props {
	name: string;
    roles: string;
    rolesTitle: string;
    discordId: string;
    description: string;
}

const { name, roles, rolesTitle, discordId, description } = Astro.props;
const picture = `../Profiles/${name}.webp`
const link = `https://discord.com/users/${discordId}`
const profilePictureAlt = `${name}'s Profile Picture`
---

<div class="w-56 md:w-64 flex flex-col items-center text-center backdrop-blur-sm border-2 border-[#C6C6C6] dark:border-[#353535] bg-[#F9F9F9] dark:bg-[#0A0A0A] shadow-md gap-1 px-5 py-2 rounded-lg">
    <a href={link} class="duration-500 hover:grayscale hover:scale-105">
        <img alt={profilePictureAlt} id="avatar" height="114px" width="114px" class="rounded-full mt-7" src={picture}>
    </a>

    <div id="role" class="mt-2 flex flex-row text-lg font-semibold" title={rolesTitle}>
        {roles}
    </div>

    <h1 class="text-xl font-bold">
        {name}
    </h1>

    <p class="mt-2 text-md font-semibold">
        {description}
    </p>
</div>