---
import Navigation from "../components/Navigation.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="keywords" content="rustbyte, rustbyte solutions, rustbyte bot, rustbyte discord"/>
		<meta name="description" content={description}/>

		<meta name="title" content={title}>
		<meta name="author" content="rustbyte solutions">
		<meta name="description" content={description}>
		<meta name="theme-color" content="#1e1e2e"/>

		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg"/>

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"/>
	</head>
	<body class="font-inter text-white bg-neutral-900 bg-[url('http://cdn.korino.dev/u/0BhXPB.webp')] bg-no-repeat bg-fixed bg-cover bg-center">
		<Navigation/>

		<div class="mb-32 lg:mb-0 flex flex-col justify-center items-center text-center lg:min-h-screen lg:min-w-screen" id="main">
			<slot/>
		</div>
	</body>
</html>

<style is:global>
    .rustbyte {
		background-image: linear-gradient(to right, #38e5e3, #4e89d3);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
</style>