--- 
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="[color-scheme:light] dark:[color-scheme:dark] scroll-smooth overflow-x-hidden font-inter bg-white dark:bg-[#111111] text-black dark:text-white">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="keywords" content="rustbyte, rustbyte solutions, rust plugins, rust, rust game"/>
		<meta name="description" content={description}/>

		<meta name="title" content={title}>
		<meta name="author" content="rustbyte solutions">
		<meta name="description" content={description}>
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111"/>
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF"/>

		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot/>
	</body>
</html>